<a href="https://colab.research.google.com/github/tayiba-r/tayiba_INFO5731_SPRING2023/blob/main/In_class_exercise_01_01242023_1_TayibaRaheem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**



```
# This is formatted as code
```

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here

input_string = "characteristics"
i=0
for x in input_string:
  i=i+1

print("Length of input string '"+input_string+"' is",i)

Length of input string 'characteristics' is 15

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‚Äò, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here

stringOne = "pythonProgramming"

dictOne={}
for x in stringOne:
  keys = dictOne.keys()
  if x in keys:
    dictOne[x] += 1
  else:
    dictOne[x] = 1

dictTwo = sorted(dictOne.items(),key=lambda v:v[1],reverse=True)
print(dict(dictTwo))

{'o': 2, 'n': 2, 'r': 2, 'g': 2, 'm': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'P': 1, 'a': 1, 'i': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
# write your answer here
list1 = [1,2,3,4,5,6,7,8]
y=0
for x in list1:
  y=y+x

print(y)

36

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‚Äò, 

Expected Result : 'resta\$t'

In [4]:
# write your answer here

stringOne = "anaconda"
print("The first character in the input string is : ",stringOne[0])

stringTwo = stringOne[1:]
stringTwo=stringTwo.replace(stringOne[0],"$")
print(stringOne[0]+stringTwo)

The first character in the input string is :  a
an$cond$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [5]:
# write your answer here
a=input("Enter value of a : ")
b=input("Enter value of b : ")

#ùëÜ=3.14‚àó(1+ùëé/ùëè)3 
S = 3.14 * pow((1+(int(a)/int(b))),3)
print(S)

Enter value of a : 3
Enter value of b : 4
16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dic1.update(dic2)
dic1.update(dic3)


print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [7]:
# write your answer here

tuple1=('apple','bag','cat')
item = 'apple'

if item in tuple1:
  print("Yes, the item",item,"is present in given tuple")
else:
  print("No, the item",item,"is not present in given tuple")

Yes, the item apple is present in given tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [8]:
# write your answer here

set1= {9,0,12,4,5,8,-6,-4}

list1=(list(set1))
list1.sort(reverse=False)

print("Minimum value of set is :",list1[0])
print("Maximum value in set is :",list1[-1])

Minimum value of set is : -6
Maximum value in set is : 12

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [9]:
from IPython.lib.security import random
# write your answer here

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141',
                'jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640',
                'sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

tempList=[]
i=0
while i <= 6:
  y = random.sample(studnet_list,4)
  if y not in tempList:
    tempList = y 
  i+=1
  print(tempList)

['sm1640', 'hy0232', 'sk1313', 'gn0108']
['gn0108', 'ms1500', 'sk1313', 'sa1198']
['sc1229', 'ms1500', 'vm0377', 'sg1297']
['nv0234', 'hy0232', 'jl1252', 'sm1907']
['ds0814', 'sm1907', 'sc1229', 'jl1252']
['pr0353', 'ak0934', 'sa1198', 'sk1390']
['nm0618', 'sk1386', 'ja0964', 'sk1390']

\(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [10]:
# write your answer here

array1=[1,2,3,4,4,5,32,5,2,5,20,2,20,21,1]
#array1 =[1,2,3,4,5]
array1.sort(reverse=False)
a=[]
for i in range(0, len(array1)):
  if array1[i] == array1[i-1] :
    a.append(array1[i])

if len(a) != 0:
  print("The repeated numbers are",set(a))
  print(-1)
else:
  print("There are no repeated numbers in the array")

The repeated numbers are {1, 2, 4, 5, 20}
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here