<a href="https://colab.research.google.com/github/tayiba-r/tayiba_INFO5731_SPRING2023/blob/main/INFO5731_Assignment_One_fall2022_Tayiba_Raheem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [119]:
# Your code here
import random

#creating an empty list to append generated values
randomNumbers=[]

#for loop to append 12 random values
for x in range(0,12):
  #using random.randint(a,b) for generating random values and append the values to the list
  randomNumbers.append(random.randint(1,100))

# Print generated random numbers
print("Random numbers are :",randomNumbers)

# sorting the values in ascending order
randomNumbers.sort()
print("Ascending order :",randomNumbers)

# sorting the values in descending order
randomNumbers.sort(reverse=True)
print("Descending order :",randomNumbers)

# Average of group
print("Average of group:",(sum(randomNumbers)/len(randomNumbers)))

Random numbers are : [49, 75, 16, 83, 22, 36, 84, 77, 99, 38, 98, 30]
Ascending order : [16, 22, 30, 36, 38, 49, 75, 77, 83, 84, 98, 99]
Descending order : [99, 98, 84, 83, 77, 75, 49, 38, 36, 30, 22, 16]
Average of group: 58.916666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [120]:
# Your code here

# Sub-Question 1
statementOne=input("Enter sentence 1:")
statementTwo=input("Enter sentence 2:")

# apples, berries are good for health
# The list of fruits are : apples;berries;banana;mango

Enter sentence 1:apples, berries are good for health
Enter sentence 2:The list of fruits are : apples;berries;banana;mango

In [121]:
# Sub-Question 2
import re

# Split the words of statementOne
listOne = re.split('(\W+?)', statementOne)
empty = ['', ' ']
# remove blankspaces
listOne = [el for el in listOne if el not in empty]
print(listOne)

# Split the words of statementTwo
listTwo = re.split('(\W+?)', statementTwo)
empty = ['', ' ']
# remove blankspaces
listTwo = [el for el in listTwo if el not in empty]
print(listTwo)

['apples', ',', 'berries', 'are', 'good', 'for', 'health']
['The', 'list', 'of', 'fruits', 'are', ':', 'apples', ';', 'berries', ';', 'banana', ';', 'mango']

In [122]:
# Sub-Question 3
# compare two lists
compList = [el for el in listOne if el in listTwo]
compList

['apples', 'berries', 'are']

In [123]:
# Sub - Question 4
punctuations = [',', '.',';',':','!','%','*']

# remove punctuations of listOne
listThree = [el for el in listOne if el not in punctuations]
print(listThree)

# remove punctuations of listTwo
listFour = [el for el in listTwo if el not in punctuations]
print(listFour)

['apples', 'berries', 'are', 'good', 'for', 'health']
['The', 'list', 'of', 'fruits', 'are', 'apples', 'berries', 'banana', 'mango']

In [125]:
# Sub - Question 5

# create a dictionary to store count of vowels in input strings
vowels = {}.fromkeys("aeiouAEIOU",0)

# count the number of vowels in statementOne
for x in statementOne:
    for y in x:
        if y in vowels:
            vowels[y] += 1

# count the number of vowels in statementTwo
for x in statementTwo:
    for y in x:
        if y in vowels:
            vowels[y] += 1


print(vowels)

{'a': 9, 'e': 10, 'i': 4, 'o': 5, 'u': 1, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [126]:
# Your code here

import math
# print the headers
print("r\t","v")

for x in range(1,11):
  #calculate the Volume 
  V = (4/3)*(math.pi)*pow(x,3)
  print(x,"\t",V)

r	 v
1 	 4.1887902047863905
2 	 33.510321638291124
3 	 113.09733552923254
4 	 268.082573106329
5 	 523.5987755982989
6 	 904.7786842338603
7 	 1436.7550402417319
8 	 2144.660584850632
9 	 3053.6280592892786
10 	 4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [127]:
# Your code here

import pandas as pd

# used the github link to read the CSV file
# Create dataFrame as 'dentonHousingDS'
dentonHousingDS=pd.read_csv("https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv")

In [128]:
# Sub - question 1
dentonHousingDS1 = dentonHousingDS.sort_values(by="title_field")
diffValue=(dentonHousingDS.query("title_field == 'Occupied Housing Units'")).value.diff(-1).sort_values()

# extracting year list
yearList=(dentonHousingDS.get("year")).unique()
yearList.sort()
# remove nan
diffList=list(diffValue)
diffList = [element for element in diffList if str(element) != "nan"]
# using zip() for consecutive element pairing
consecYearList = list(zip(yearList, yearList[1:]))
# print the dataframe values
df = pd.DataFrame(data={"Years": consecYearList, 'Diff_in_values': diffList})
df

          Years  Diff_in_values
0  (2008, 2009)          -795.0
1  (2009, 2010)          -303.0
2  (2010, 2011)          1404.0
3  (2011, 2012)          1565.0
4  (2012, 2013)          2622.0
5  (2013, 2014)          5091.0

In [130]:
# Sub - question 2

# fetch values of Vacant Housing Units and Occupied Housing Units
vacantHouse=dentonHousingDS.query("title_field == 'Vacant Housing Units'").sort_values(by="year")
occupiedHouse=dentonHousingDS.query("title_field == 'Occupied Housing Units'").sort_values(by="year")

# merge fetched values with year
df1=pd.merge(vacantHouse, occupiedHouse, on ='year')
#rename the columns for further use
df1=df1.rename(columns={'value_x':'vacant_values','value_y':'occupied_values'})

# calculate the average percentage and round the values and apply percentile sign at the end
df1['vacant_Percent']=(round((df1['vacant_values']/(df1['occupied_values']+df1['vacant_values']))*100).astype(int)).map("{:,}%".format)

df1['occu_Percent']=(round((df1['occupied_values']/(df1['occupied_values']+df1['vacant_values']))*100).astype(int)).map("{:,}%".format)

# Get the required columns of the dataframe
df1.get(['year','vacant_Percent','occu_Percent'])

   year vacant_Percent occu_Percent
0  2008            11%          89%
1  2009             9%          91%
2  2010             8%          92%
3  2011             9%          91%
4  2012             7%          93%
5  2013             9%          91%
6  2014             6%          94%

In [131]:
# Sub - question 3
vacantHouse=dentonHousingDS.query("title_field == 'Vacant Housing Units'")
occupiedHouse=dentonHousingDS.query("title_field == 'Occupied Housing Units'")

# fetch year and value of the vacant housing
maxValueVacant_year=(vacantHouse[vacantHouse['value']==vacantHouse['value'].max()]).get('year')
maxValueVacant_val=(vacantHouse[vacantHouse['value']==vacantHouse['value'].max()]).get('value')
df2 = pd.DataFrame({'Year': maxValueVacant_year , 'Value':maxValueVacant_val})

# fetch year and value of the occupied housing
maxValueOcc_year=(occupiedHouse[occupiedHouse['value']==occupiedHouse['value'].max()]).get('year')
maxValueOcc_val=(occupiedHouse[occupiedHouse['value']==occupiedHouse['value'].max()]).get('value')
df3 = pd.DataFrame({'Year': maxValueOcc_year , 'Value':maxValueOcc_val})

# append both dataframes
df4=df2.append(df3)

# rename the index values
df4.rename(index={19: "Vacant Housing Units", 2: "Occupied Housing Units"})

                        Year  Value
Vacant Housing Units    2008   4483
Occupied Housing Units  2014  46295

In [132]:
# Sub - question 4

from scipy import stats as st

#fetch the values of Total Housing Units
totalHousingUnits=(dentonHousingDS.query("title_field == 'Total Housing Units'")).get('value')

# Convert the dataframe to list for calculation
stringOneTwo=list(totalHousingUnits)

# using the scipy module 
harmonic_mean=st.hmean(stringOneTwo)
print("Harmonic mean of the Total Housing Units is :",harmonic_mean)

Harmonic mean of the Total Housing Units is : 44398.28543969185